<h1>Add a Movie to list <strong><%= @list.name %></strong></h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie, collection: @movies, label_method: :title, label: 'Select Movie' %>
  <%= f.submit 'Add Movie', class: 'btn btn-primary' %>
<% end %>
